aws_region             = "us-east-1"
environment            = "staging"
project_name           = "deploymentor"
github_token_ssm_param = "/deploymentor/staging/github/token"
log_level              = "INFO"
github_repo            = "BamiseOmolaso/deploymentor"
create_oidc_provider   = false
budget_alert_email     = "your-email@example.com"

